@use "constants";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: constants.$font-family;
  font-size: constants.$font-size;
}

h1 {
  font-size: constants.$heading-size;
  font-weight: constants.$extra-bold;
  margin: 0;
}

input[type=text], input[type=number], input[type=email], input[type=password], input[type=url], .text-input {
  padding: 20px;
  font-family: constants.$font-family;
  border-radius: constants.$border-radius;
  border: constants.$border-style;
  font-weight: constants.$normal-bold;
  margin: 5px 0;
  font-size: constants.$font-size;
  box-shadow: constants.$shadow-style;
  background-color: constants.$accent-background;

  &::placeholder {
    font-weight: constants.$normal;
  }

  &:focus, &.focus {
    outline: 2px solid constants.$outline-color;
    outline-offset: 2px;
    box-shadow: none;
  }
}

/* Remove number arrows */
input[type=number].no-arrows {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Checkbox styling */
input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    box-shadow: inset 1em 1em constants.$button-color;
  }

  &:checked::before {
    transform: scale(1);
  }
}

select {
  padding: 20px;
  font-family: constants.$font-family;
  border-radius: constants.$border-radius;
  border: constants.$border-style;
  font-weight: constants.$normal-bold;
  margin: 5px 0;
  font-size: constants.$font-size;
  box-shadow: constants.$shadow-style;
  background-color: constants.$accent-background;
  appearance: none;
  background-image: constants.$down-arrow;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;

  &::-ms-expand {
    display: none;
  }

  &::placeholder {
    font-weight: constants.$normal;
  }

  &:focus {
    outline: 2px solid constants.$outline-color;
    outline-offset: 2px;
    box-shadow: none;
  }
}

button {
  padding: 15px;
  font-family: constants.$font-family;
  font-size: constants.$font-size;
  border-radius: constants.$border-radius;
  color: constants.$font-color;
  font-weight: constants.$normal-bold;
  border: none;
  margin: 5px 0;
  border: constants.$border-style;
  cursor: pointer;

  &:hover {
    background-color: constants.$button-hover-color !important;
  }

  &:focus {
    outline: 2px solid constants.$outline-color;
    outline-offset: -2px;
  }

  &[type=submit] {
    background-color: constants.$button-color;
    border-bottom: constants.$thick-border-style;
  }
}

.blue-button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: constants.$font-color;

  &:hover {
    background-color: transparent !important;
    color: constants.$link-color;
  }
}

.icon-button-container {
  display: flex;
  align-items: center;
  position: relative;

  label {
    width: fit-content;
    text-align: right;
    visibility: hidden;
    white-space: nowrap;
  }

  &.hovering label {
    visibility: visible;
  }
}

.icon-button {
  @extend .blue-button;
  height: 50px;
  width: 50px;
  font-size: constants.$icon-size;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button {
  transition: constants.$transition;
  position: absolute;
  left: 40px;
  top: 40px;
  width: 50px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: none;
  background-color: constants.$accent-background;

  &:hover {
    background-color: constants.$button-hover-color;
  }
}

form {
  display: flex;
  flex-direction: column;
  
  label {
    display: flex;
    flex-direction: column;
    font-weight: constants.$extra-bold;
    margin: 5px 0;
  }

  .error {
    color: constants.$error-color;
  }

  .form-buttons {
    display: flex;

    button {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &.cancel {
        margin-right: 10px;
      }
    }
  }

  .boolean-container label {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      margin-left: 10px;
    }
  }

  .checkbox-container {
    .checkbox-row {
      display: flex;
      justify-content: flex-start;

      label {
        font-weight: normal;
        display: grid;
        grid-template-columns: 2em auto;
        gap: 0.5em;
        align-items: center;
        cursor: pointer;
      }

      input[type=checkbox] + label {
        margin-top: 1em;
      }
    }
  }
}

button {
  &:hover .icon {
    transform: translateX(5px);
  }

  .icon {
    transition: constants.$transition;
    font-size: constants.$icon-size;
    margin: 0 0 0 10px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: constants.$background;

  &.loading-page {
    justify-content: center;
  }
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.loader {
  width: constants.$loader-size;
  height: constants.$loader-size;
}

.section {
  border: constants.$border-style;
  border-bottom: constants.$thick-border-style;
  border-radius: constants.$border-radius;
  width: 100%;
  padding: 30px;
  margin: 10px 0;
  background-color: constants.$accent-background;

  .section-title {
    margin: 0 0 20px 0;
  }
}

.toast {
  transition: constants.$transition;
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 20px;
  background-color: constants.$toast-color;
  color: constants.$accent-font-color;
  border-radius: constants.$border-radius;
  min-width: constants.$toast-width;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  .icon {
    margin-left: 10px;
  }

  &.success .icon {
    color: constants.$success-color
  }

  &.error .icon {
    color: constants.$error-color;
  }

  &.hidden {
    transform: translateY(calc(100% + 20px));
  }
}

.editable-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  th {
    text-align: right;
  }

  &.editing {
    flex-direction: column;
  }

  .column {
    padding: 20px;
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .editable-details-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    align-items: stretch;
    padding: 30px;
  }
}