@use "constants";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: constants.$font-family;
  font-size: constants.$font-size;
}

h1 {
  font-size: constants.$heading-size;
  font-weight: constants.$extra-bold;
  margin: 0;
}

input[type=text], input[type=email], input[type=password] {
  padding: 20px;
  font-family: constants.$font-family;
  border-radius: constants.$border-radius;
  border: constants.$border-style;
  font-weight: constants.$normal-bold;
  margin: 5px 0;
  font-size: constants.$font-size;
  box-shadow: constants.$shadow-style;
  background-color: constants.$accent-background;

  &::placeholder {
    font-weight: constants.$normal;
  }

  &:focus {
    outline: 2px solid constants.$outline-color;
    outline-offset: 2px;
    box-shadow: none;
  }
}

button {
  padding: 15px;
  font-family: constants.$font-family;
  font-size: constants.$font-size;
  border-radius: constants.$border-radius;
  color: constants.$font-color;
  font-weight: constants.$normal-bold;
  border: none;
  margin: 5px 0;
  border: constants.$border-style;
  cursor: pointer;

  &:hover {
    background-color: constants.$button-hover-color;
  }

  &[type=submit] {
    background-color: constants.$button-color;
    border-bottom: constants.$thick-border-style;
  }
}

form {
  label {
    display: flex;
    flex-direction: column;
    font-weight: constants.$extra-bold;
    margin: 5px 0;
  }
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: constants.$background;
}

.section {
  border: constants.$border-style;
  border-bottom: constants.$thick-border-style;
  border-radius: constants.$border-radius;
  width: 100%;
  padding: 30px;
  margin: 10px 0;
  background-color: constants.$accent-background;

  .section-title {
    margin: 0 0 20px 0;
  }
}