@use "constants";

.check-in-page {
  padding: 30px;

  .check-in-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    align-items: stretch;
    padding: 30px;

    input::placeholder {
      text-transform: lowercase;
    }

    button:hover .icon {
      transform: translate(3.5px, -3.5px);
    }
  }
}