@use "sass:color";

$font-family: "Nunito", Helvetica, sans-serif;
$small-font-size: 12px;
$font-size: 16px;
$heading-size: 60px;
$icon-size: 20px;

$normal: 500;
$normal-bold: 700;
$extra-bold: 900;

$black: #000000;
$white: #ffffff;
$light-blue: #228be6;
$dark-blue: #1a67a9;
$yellow: #ffce2b;
$dark-yellow: #b3921f;
$dark-grey: #232323;
$grey: #dfdfdf;
$medium-light-grey: #f0f0f0;
$light-grey: #f9f9f9;
$red: #ff4949;
$green: #63ff63;

$font-color: $black;
$accent-font-color: $white;
$outline-color: $light-blue;
$link-color: $light-blue;
$button-color: $yellow;
$button-hover-color: darken($button-color, 10%);
$error-color: $red;
$background: $medium-light-grey;
$accent-background: $white;
$accent-background-hover: $light-grey;
$toast-color: $dark-grey;
$success-color: $green;

$shadow-style: inset 0 4px $grey;
$border-style: 2px solid $font-color;
$thick-border-style: 7px solid $font-color;

$border-radius: 10px;
$toast-width: 250px;
$loader-size: 40px;

$transition: all 0.2s ease;

$down-arrow: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');