@use "constants";

.page.home {
  padding: 50px;
  text-align: center;
  align-items: stretch;

  &.loading-page {
    align-items: center;

    .header {
      position: absolute;
      top: 50px;
    }
  }

  .no-orgs-msg {
    margin: 30px;
  }

  .org-card-container {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }
}