@use "constants";

.login {
  background-color: constants.$accent-background !important;
  justify-content: center;

  .login-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    max-width: 500px;

    input {
      margin-top: 8px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &.loading {
        color: transparent;

        .icon {
          visibility: hidden;
        }

        .loader {
          visibility: visible;
        }
      }

      &:hover .icon {
        transform: translateX(5px);
      }

      .icon {
        transition: constants.$transition;
        font-size: constants.$icon-size;
        margin: 0 0 0 10px;
      }

      .loader {
        position: absolute;
        width: 40px;
        height: 40px;
        left: calc(50% - 20px);
        top: calc(50% - 20px);
        visibility: hidden;
      }
    }

    .error {
      color: constants.$error-color;

      &.hidden {
        visibility: hidden;
      }
    }
  }
}