@use "constants";

.login {
  background-color: constants.$accent-background !important;
  justify-content: center;

  .login-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    max-width: 500px;

    input {
      margin-top: 8px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &.loading {
        color: transparent;

        .icon {
          visibility: hidden;
        }

        .loader {
          visibility: visible;
        }
      }

      .loader {
        position: absolute;
        left: calc(50% - #{constants.$loader-size} / 2);
        top: calc(50% - #{constants.$loader-size} / 2);
        visibility: hidden;
      }
    }

    .error {
      color: constants.$error-color;

      &.hidden {
        visibility: hidden;
      }
    }
  }
}