@use "constants";

.table-container {
  overflow: hidden;
  padding: 0 !important;

  table {
    width: 100%;
    border-collapse: collapse;

    h2 {
      margin: 0;
    }

    td, th {
      text-align: center;
      padding: 10px 20px;
      flex: 1;
    }

    .column-header div {
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      .sorting-arrow {
        transition: transform 0.2s ease;

        &.invisible {
          opacity: 0;
        }

        &.down {
          transform: rotate(180deg);
        }
      }
    }

    .section-title-container {
      position: relative;

      .action-button {
        font-size: constants.$icon-size;
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 0;
        width: 50px;
        height: 50px;
      }
    }

    tbody tr:nth-of-type(2n - 1):not(.loading-row) {
      background-color: constants.$light-grey;
    }

    .clickable {
      transition: constants.$transition;
      cursor: pointer;

      &:hover {
        background-color: constants.$button-hover-color !important;
      }
    }

    tfoot {
      .total-count {
        font-weight: bold;
        text-align: left;
      }

      .buttons-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .page-input {
          display: flex;
          align-items: center;
          font-weight: bold;

          input {
            padding: 10px;
            width: 50px;
            text-align: center;
          }

          p {
            margin: 0;
            padding: 0;
            width: 50px;
          }
        }

        button {
          padding: 0;
          width: 50px;
          height: 50px;
          margin: 0 2px;

          &[disabled=""] {
            background-color: transparent;
            border: none;
            cursor: not-allowed;
            opacity: 0.5;

            &:hover {
              background-color: transparent !important;
            }
          }

          &:hover {
            background-color: constants.$button-color;
          }
        }
      }
    }
  }
}